[Desktop Entry]
Name=Samba share
Name[ca]=Compartició Samba
Name[de]=Samba Freigabe
Name[el]=Δικτυακός κοινόχρηστος πόρος Samba
Name[es]=Compartición samba
Name[fr]=Samba share
Name[it]=Condivisioni Samba
Name[ja]=SAMBA 共有
Name[nb]=Samba deling
Name[nl]=Samba share
Name[pt]=Samba share
Name[ru]=Samba
Name[se]=Samba-utdelning
Name[tr]=Samba share
GenericName=Samba share
GenericName[ca]=Compartició Samba
GenericName[de]=Samba Freigabe
GenericName[el]=Δικτυακός κοινόχρηστος πόρος Samba
GenericName[es]=Compartición samba
GenericName[fr]=Samba share
GenericName[it]=Condivisioni Samba
GenericName[ja]=SAMBA 共有
GenericName[nb]=Samba deling
GenericName[nl]=Samba share
GenericName[pt]=Samba share
GenericName[ru]=Samba
GenericName[se]=Samba-utdelning
GenericName[tr]=Samba share
Comment=Create samba shares
Comment[ca]=Crea comparticions Samba 
Comment[de]=Erstelle Samba Freigaben
Comment[es]=Crear un objeto compartido samba.
Comment[fr]=Partager un dossier avec Samba
Comment[it]=Crea una condivisione Samba
Comment[ja]=SAMBA 共有の作成
Comment[nb]=Opprett samba-deling
Comment[nl]=Maak samba shares
Comment[pt]=Criar partilhas do samba
Comment[ru]=Создать общие папки Samba
Exec=sambashare
Icon=folder-remote
Terminal=False
Type=Application
Categories=Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
