Source: sambashare
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
  , python3 (>= 3.2)
  , intltool
  , transifex-client
  , translate-toolkit
X-Python3-Version: >= 3.2
Standards-Version: 3.9.6
Vcs-Git: git@github.com:SolydXK/sambashare.git
Vcs-Browser: https://github.com/SolydXK/sambashare

Package: sambashare
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
  , python3
  , python3-gi
  , gir1.2-gtk-3.0
  , samba
Conflicts: solydxk-locale
Replaces: solydxk-locale
Description: Simple samba share manager
