[Desktop Entry]
Type=Service
Icon=folder-remote
Exec=sambashare

X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=system-administration 
X-KDE-System-Settings-Parent-Category-V2=system-administration 
X-KDE-ParentApp=sambashare
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=Samba share
Name[ca]=Compartició Samba
Name[de]=Samba Freigabe
Name[el]=Δικτυακός κοινόχρηστος πόρος Samba
Name[es]=Compartición samba
Name[fr]=Samba share
Name[it]=Condivisioni Samba
Name[ja]=SAMBA 共有
Name[nb]=Samba deling
Name[nl]=Samba share
Name[pt]=Samba share
Name[ru]=Samba
Name[se]=Samba-utdelning
Name[tr]=Samba share
Comment=Create samba shares
Comment[ca]=Crea comparticions Samba 
Comment[de]=Erstelle Samba Freigaben
Comment[es]=Crear un objeto compartido samba.
Comment[fr]=Partager un dossier avec Samba
Comment[it]=Crea una condivisione Samba
Comment[ja]=SAMBA 共有の作成
Comment[nb]=Opprett samba-deling
Comment[nl]=Maak samba shares
Comment[pt]=Criar partilhas do samba
Comment[ru]=Создать общие папки Samba
